<!DOCTYPE html>
<title>About</title>
<html>
<head>
    <link rel="stylesheet" href="css/style.css">
     <link rel="icon" href="/img/2.png">
</head>

<body>
     <div class="main-content">
        {{>header}}
        <p>This app was created by Tomisin. It uses data from mapbox.com and darksky.net!</p>
         <img class="portrait" src="img/2.png">
      </div>
     {{>footer}}
</body>
</html>