<!DOCTYPE html>
<title>Help</title>
<html>
<head>
    <link rel="stylesheet" href="css/style.css">
     <link rel="icon" href="/img/2.png">
</head>

<body>
    <div class="main-content">
        {{>header}}
         <p>{{help}}</p>
    </div>
    
    {{>footer}}
</body>
</html>