<!DOCTYPE html>
<title>{{title}}</title>
<html>
<head>
    <link rel="icon" href="/img/2.png">
 <link rel="stylesheet" href="css/style.css">
 
</head>

<body>
    <div class="main-content">
        {{>header}}
        <form>
            <input placeholder="address">
            <button>search</button>
        </form>
            <p id="message-one"></p>
             <p id="message-two"></p>
          <h2>{{name}}</h2>
    </div>
    {{>footer}}
    <script src="js/app.js"></script>
</body>
</html>